-f https://www.shi-labs.com/natten/wheels/cu113/torch1.11/index.html
natten
-f https://download.openmmlab.com/mmcv/dist/cu113/torch1.11.0/index.html
mmcv-full==1.4.8
mmdet==2.19.0
git+https://github.com/rwightman/pytorch-image-models.git@9d6aad44f8fd32e89e5cca503efe3ada5071cc2a
fvcore==0.1.5.post20220305
